<div class="container">
    <div class="toolbar">
        <h2 class="title" *ngIf="!showClosed">Order Listing: Open Orders</h2>
        <h2 class="title" *ngIf="showClosed">Order Listing: Closed Orders</h2>
        <mat-form-field class="locality-select" appearance="fill">
            <mat-label>Locality</mat-label>
            <mat-select [formControl]="locality" multiple (selectionChange)="onLocalityChange($event.value)">
                <mat-option disabled="disabled" class="filter-option">
                    <button mat-raised-button class="mat-secondary fill text-sm" (click)="selectAll()">
            Select All
          </button>
                    <button mat-raised-button class="mat-tertiary fill text-sm" (click)="deselectAll()">
            Deselect All
          </button>
                </mat-option>
                <mat-option *ngFor="let locality of localities" [value]="locality">{{ locality }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="delivery-date-select" appearance="fill">
            <mat-label>Delivery Date</mat-label>
            <mat-select [formControl]="deliveryDate" multiple (selectionChange)="ondeliveryDateChange($event.value)" [(ngModel)]="ps.selectedDates">
                <mat-option disabled="disabled" class="filter-option">
                    <button mat-raised-button class="mat-secondary fill text-sm" (click)="selectAllDates()">
            Select All
          </button>
                    <button mat-raised-button class="mat-tertiary fill text-sm" (click)="deselectAllDates()">
            Deselect All
          </button>
                </mat-option>
                <mat-option *ngFor="let deliveryDate of deliveryDates" [value]="deliveryDate.value">{{ deliveryDate?.name }}
                </mat-option>
                <!-- <mat-option [value]="all">All Dates</mat-option> -->
            </mat-select>
        </mat-form-field>

        <div *ngIf="!showClosed">
            <button (click)="showClosed = true">Show Closed Orders</button>
        </div>
        <div *ngIf="showClosed">
            <button (click)="showClosed = false">Show Open Orders</button>
        </div>
        <!-- <div>
      <button id="export" (click)="exportToExcel()">Export</button>
    </div> -->
    </div>
    <table id="order-table" class="order-table">
        <tr>
            <th class="locality">Locality</th>
            <th class="date">Date</th>
            <th>Name</th>
            <th class="phone">Phone Number</th>
            <th class="address">Address</th>
            <th class="no-print" [ngClass]="{ 'no-export': exportReady }">
                Revised Total
            </th>
            <th class="center no-print" [ngClass]="{ 'no-export': exportReady }">
                Invoice
            </th>
            <th class="center no-print" *ngIf="!showClosed" [ngClass]="{ 'no-export': exportReady }">
                Edit
            </th>
            <th class="center no-print" [ngClass]="{ 'no-export': exportReady }">
                <!-- Delete -->
                Cancel
            </th>
            <th class="center no-print" *ngIf="showClosed" [ngClass]="{ 'no-export': exportReady }">
                Open Order
            </th>
            <th class="center no-print" *ngIf="!showClosed" [ngClass]="{ 'no-export': exportReady }">
                Close Order
            </th>
        </tr>

        <tr *ngFor="let o of orders | async">
            <td>{{ o.userDetails.locality }}</td>
            <td [innerHTML]="getDate(o.createdAt)"></td>
            <td>{{ o.userDetails.displayName }}</td>
            <td>{{ o.userDetails.phoneNumber }}</td>
            <td>{{ o.userDetails.address }}</td>
            <td class="no-print" [ngClass]="{ 'no-export': exportReady }">
                ₹{{ getRevisedTotal(o) }}
            </td>

            <td class="center no-print" [ngClass]="{ 'no-export': exportReady }">
                <a [routerLink]="['/invoice']" [state]="{ order: o }">
                    <mat-icon>receipt</mat-icon>
                </a>
            </td>
            <td class="center no-print" *ngIf="!showClosed" [ngClass]="{ 'no-export': exportReady }">
                <a [routerLink]="['/addorder']" [state]="{ order: o }">
                    <mat-icon>edit</mat-icon>
                </a>
            </td>
            <td class="center no-print" [ngClass]="{ 'no-export': exportReady }">
                <!-- <a (click)="deleteOrder(o)">Delete</a> -->
                <a (click)="cancelOrder(o)">
                    <mat-icon>cancel</mat-icon>
                </a>
            </td>

            <td class="center no-print" *ngIf="!showClosed" [ngClass]="{ 'no-export': exportReady }">
                <input type="checkbox" (click)="toggleOrder(o)" />
            </td>
            <td class="center no-print" *ngIf="showClosed" [ngClass]="{ 'no-export': exportReady }">
                <span>!</span>
                <input type="checkbox" (click)="toggleOrder(o, false)" />
            </td>
        </tr>
    </table>
</div>