<div class="container">
    <div class="container-wrapper">
        <h2>Add Order</h2>
        <form [formGroup]="orderForm" (ngSubmit)="submitForm()">
            <mat-card-content>
                <div fxLayoutAlign="center">
                    <mat-form-field style="width:100%" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input formControlName="name" matInput>
                        <mat-error *ngIf="orderForm.controls['name'].invalid">Please enter a valid name</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="center">
                    <mat-form-field style="width:100%" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input formControlName="email" matInput>
                        <mat-error *ngIf="orderForm.controls['email'].invalid">Please enter a valid eMail</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="center">
                    <mat-form-field style="width:100%" appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input formControlName="phone" matInput>
                        <mat-error *ngIf="orderForm.controls['phone'].invalid">Please enter a valid Phone Number</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="center">
                    <mat-form-field style="width:100%" appearance="outline">
                        <mat-label>Address</mat-label>
                        <input formControlName="address" matInput>
                        <mat-error *ngIf="orderForm.controls['address'].invalid">Please enter a valid address</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="center">
                    <mat-form-field style="width:100%" appearance="outline">
                        <mat-label>Delivery Zone</mat-label>
                        <mat-select formControlName="zone">
                            <mat-option>Select</mat-option>
                            <mat-option value="BHEL-Lingampally">BHEL / Lingampally</mat-option>
                            <mat-option value="Gachibowli">Gachibowli</mat-option>
                            <mat-option value="Jubilee-Banjara-Hills">Jubilee / Banjara Hills</mat-option>
                            <mat-option value="Kondapur">Kondapur</mat-option>
                            <mat-option value="Kukatpally-Nizampet">Kukatpally / Nizampet</mat-option>
                            <mat-option value="Madhapur">Madhapur</mat-option>
                            <mat-option value="Miyapur">Miyapur</mat-option>
                            <mat-option value="Nallagandla">Nallagandla</mat-option>
                            <mat-option value="Shaikpet">Shaikpet</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!-- <div fxLayoutAlign="center">
                    <mat-form-field style="width:100%" appearance="outline">
                        <mat-label>Locality</mat-label>
                        <mat-select formControlName="locality">
                            <mat-option>Select</mat-option>
                            <mat-option *ngFor="let locality of localities" [value]="locality">
                                {{ locality }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->
                <div fxLayoutAlign="center">

                    <mat-form-field class="data-picker" style="width:100%" appearance="outline">
                        <mat-label>Date of Delivery</mat-label>
                        <input matInput [matDatepicker]="picker" [value]="order.deliveryDate" formControlName="dateOfDelivery">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                    </mat-form-field>
                </div>
                <!-- <div>
                <label for="name"> Name </label>
                <input id="name" type="text" formControlName="name" />
            </div>
            <div>
                <label for="email"> email </label>
                <input id="email" type="email" formControlName="email" />
            </div>

            <div>
                <label for="phone"> Phone Number </label>
                <input id="phone" type="tel" formControlName="phone" />
            </div>

            <div>
                <label for="address"> address </label>
                <input id="address" type="text" formControlName="address" />
            </div> 

            <div>
                <label for="zone"> Delivery Zone </label>
                <select id="zone" formControlName="zone" value="">
        <option value="BHEL-Lingampally">BHEL / Lingampally</option>
        <option value="Gachibowli">Gachibowli</option>
        <option value="Jubilee-Banjara-Hills">Jubilee / Banjara Hills</option>
        <option value="Kondapur">Kondapur</option>
        <option value="Kukatpally-Nizampet">Kukatpally / Nizampet</option>
        <option value="Madhapur">Madhapur</option>
        <option value="Miyapur">Miyapur</option>
        <option value="Nallagandla">Nallagandla</option>
        <option value="Shaikpet">Shaikpet</option>
      </select>
            </div>

            <div>
                <label for="locality"> Locality </label>
                <select id="locality" formControlName="locality" value="">
        <option *ngFor="let locality of localities" [value]="locality">
          {{ locality }}
        </option>
      </select>
            </div>

            <div>
                <label for="dateOfDelivery"> Date of Delivery </label>

                <mat-form-field class="data-picker" appearance="fill">
                    <mat-label>Select a Date</mat-label>
                    <input matInput [matDatepicker]="picker" [value]="order.deliveryDate" formControlName="dateOfDelivery">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                </mat-form-field>
            </div> -->

                <table class="product-table">
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>

                    <tr *ngFor="let o of productArray">
                        <td>{{ o.name }}</td>
                        <td>{{ o.price }}</td>
                        <td>
                            <input class="quantityInput" type="number" [value]="o.quantity" (input)="o.quantity = +$event.target.value" />

                            <!-- <div fxLayoutAlign="center">
                                <mat-form-field style="width:100%" appearance="outline">
                                    <input class="quantityInput" matInput [value]="o.quantity" (input)="o.quantity = +$event.target.value">
                                </mat-form-field>
                            </div> -->
                        </td>
                    </tr>
                </table>

                <div>
                    <label for="total">
        <h3>Total</h3>
      </label>
                    <h3 class="total">₹ {{ getTotal().toFixed(2) }}</h3>
                </div>

                <footer>
                    <div class="spacer"></div>
                    <div fxLayoutAlign="center">
                        <button type="submit" mat-raised-button color="primary">{{ buttonTitle }}</button>
                    </div>
                    <!-- <button class="button" type="submit">{{ buttonTitle }}</button> -->
                </footer>
                <div class="status-container">
                    <div *ngIf="saveStatus == 1" class="success">Saved Successfully</div>
                    <div *ngIf="saveStatus == 0" class="error">
                        Saved Failed. Please check the values.
                    </div>
                </div>
            </mat-card-content>
        </form>
    </div>
</div>