<div class="container">
    <div class="container-wrapper">
        <!-- <h2>Send Notifications</h2>
  <form [formGroup]="messagingForm" (ngSubmit)="submitForm()">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Locality</mat-label>
      <mat-select
        formControlName="topics"
        multiple        
      >
      <mat-option name="all" value="all">All</mat-option>
        <mat-option *ngFor="let loc of localities" [name]="loc" [value]="loc">{{
          loc
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Title</mat-label>
      <input
        matInput
        formControlName="title"
        placeholder="Ex. Exciting new offer!"
        [value]="title"
      />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Add a Message</mat-label>
      <textarea
        matInput
        formControlName="message"
        placeholder="Ex. New products available..."
        [value]="message"
      ></textarea>
    </mat-form-field>

    <div class="footer">
        <button mat-raised-button color="primary" type="submit">SEND</button>
        <button mat-raised-button color="secondary" type="reset">RESET</button>
        <div class="status-container">
          <div *ngIf="saveStatus == 1" class="success">Notification sent successfully.</div>
          <div *ngIf="saveStatus == 0" class="error">
            Send notification failed. Please try again later.
          </div>
        </div>
    </div>
  </form> -->
        <h1> Welcom to the GAP App</h1>
    </div>
</div>